*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 900px;
    height: 700px;
}
.container{
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:12px;
    flex-wrap: wrap;
}
.item{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: aqua;

}
span{
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    justify-content: center;
}
.container2{
    padding: 20px 20px;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap:12px;
    flex-wrap: wrap;
    position: relative;
    left: 60px;
    bottom: 648px;
}
.item2{
    width: 50px;
    height: 50px;
    background-color: aqua;
    border-radius: 10px;
}
.container3{
    padding: 20px 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap:12px;
    flex-wrap: wrap;
    position: relative;
    left: 60px;
    bottom: 648px;
}
.item3{
    width: 50px;
    height: 50px;
    background-color: aqua;
    border-radius: 10px;
}
.container4{
    padding: 20px 20px;
    display: flex;
    flex-direction: row-reverse;
    gap:12px;
    flex-wrap: wrap;
    position: relative;
    bottom: 678px;
    left: -227px;
}
.item4{
    width: 50px;
    height: 50px;
    background-color: aqua;
    border-radius: 10px;
    position: relative;
    left: 38px;

}
.main{
    position: relative;
    left: 65px;
    bottom: 400px;
}
